#infoWindow {
    box-sizing: border-box;
    background: rgb(124, 176, 176);
    min-width: 300px;
    min-height: 90px;
    border: 1px solid darkslategray;
    color: black;
    font-size: 18px;
    word-wrap: none;
    text-align: center;
    padding: 10px;
}